html {
    box-sizing: border-box;
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }


.header, ul{
    display: flex;
    align-items: center;
    gap: 18px;
}

.header{
    justify-content: space-between;
    background-color: #1F2937;
    padding: 30px 200px 70px;
    height: 70px;
}

 ul, a{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 30px 200px 150px;
    background-color: #1F2937;
}

.hero-left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: space-between;
    flex: 1;
}

.main-text{
    flex: 1;
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text{
    flex: 1;
    margin: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.sign-up{
    align-self: flex-start;
    font-weight: bolder;
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 5px 25px;
}

.hero-right img{
    height: 200px;
}

.hero-right{
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
}

.information h1{
    font-size: 36px;
    font-weight: bolder;
}

.image-boxes{
    display: flex;
    justify-content: center;
    gap: 3em;
    width: 800px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
    height: 150px;
    width: 150px;
}

.image-box{
    min-height:  100%;
    min-width: 100%;
    border-radius: 15px;
    border-style: solid;
    border-color: #3882F6;
}

.image-subtext{
    text-align: center;
}

.quote-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;    
    height: 400px;
    /* width: 800px; */
}

.quote{
    display: flex;
    flex-direction: column;
    width: 800px;
}
.body{
    color: #1F2937;
    /* width: 800px; */
    font-size: 36px;
    font-weight: lighter;
}

.author{
    align-self: flex-end;
    font-size: 24px;
    font-weight: bold;
}